<% provide :title, t(".title") %>
<body>
  <h1><%= t ".title" %></h1>
  <em><%= link_to (t ".linkToHome"), "http://www.railstutorial.org/" %></em>
  <%= link_to (t ".linkToBook"), "http://www.railstutorial.org/book/" %><br>
  <%= link_to (t ".linkScreenCast"), "http://screencasts.railstutorial.org/" %><br>
</body>
