<% provide :title, t(".title") %>
<body>
  <h1><%= t(".title") %></h1>
  <em><%= link_to t(".link_to_home"), "http://www.railstutorial.org/" %></em>
  <%= link_to t(".link_to_book"), "http://www.railstutorial.org/book/" %><br>
  <%= link_to t(".link_screen_cast"), "http://screencasts.railstutorial.org/" %><br>
</body>
