<% provide :title, t(".title") %>
<body>
  <h1><%= t ".title" %></h1>
  <p>
    <%= link_to (t ".linkToContact"), "http://www.railstutorial.org/contact" %>
  </p>
  <%= link_to (t "langEnglish"), locale:"en" %>
  <%= link_to (t "langVietNam"), locale:"vi" %>
</body>
