<% provide :title, t(".title") %>
<body>
  <h1><%= t(".title") %></h1>
  <p>
    <%= link_to t(".link_to_help"), "http://www.railstutorial.org/help" %>
    <%= t(".link_name") %><br>
    <%= link_to t(".link_to_book1"), "http://www.railstutorial.org/book" %>
  </p>
</body>
